{% load static %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head id="head">
  <title>Surrey GC archive</title>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <meta name="description" content=""/>
  <meta name="keywords" content="" />
  <meta name="robots" content="index, follow" />
  <!--<link rel="stylesheet" type="text/css" href="static/screen.css" media="screen" />
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
  <link type="stylesheet" rel="stylesheet" href="{% static 'submit.css' %}" /> -->
  <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'screen.css' %}">
</head>
<!--<body class="container-fluid">-->
<body>
<div>
  <div id="banner">
    <div class="container-fluid">
      {% if user.is_authenticated %}
      <h1>Surrey Globular Cluster Archive </h1>
      <h2>A web-based archive for the best objects in the Universe</h2>
      <h3>Logged in as: {{ user.username }}!</h3>
      {% else %}
      <h1>Surrey Globular Cluster Archive </h1>
      <h2>A web-based archive for the best objects in the Universe</h2>
      {% endif %}
    </div>
  </div>
<div class="container-fluid">
<div id="navbar">
  <nav class="navbar navbar-inverse navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="/catalogue/">Home</a></li>

        <li class="{% if 'Harris_2010_coordinates' in request.path %}active{% endif %}"
        ><a href="/catalogue/Coordinates_harris2010">Co-ordinate and Positional Data</a></li>

        <li class="{% if 'Harris_2010_metallicity' in request.path %}active{% endif %}"
        ><a href="/catalogue/Metallicity_harris2010">Metallicity and Photometry</a></li>

        <li class="{% if 'Harris_2010_velocities' in request.path %}active{% endif %}"
        ><a href="/catalogue/Velocities_harris2010">Velocities and Structural Parameters</a></li>

        <li class="{% if 'references' in request.path %}active{% endif %}"
        ><a href="/catalogue/references/">References</a></li>

        {% if user.is_authenticated %}
        <!--
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              My Account
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="/catalogue/submit/">Submit observation</a></li>
              <li><a href="/catalogue/account/">Submitted observations</a></li>
              <li><a href="/catalogue/logout/">Log out</a></li>
            </ul>
          </div>
        </li>
      ``-->
        <li class="{% if 'submit' in request.path %}active{% endif %}"
        ><a href="/catalogue/submit/">Submit observation</a></li>

        <li class="{% if 'account' in request.path %}active{% endif %}"
        ><a href="/catalogue/account/">My Account</a></li>

        <li class="{% if 'logout' in request.path %}active{% endif %}"
        ><a href="/catalogue/logout/">Log out</a></li>

        {% else %}
        <li class="{% if 'login' in request.path %}active{% endif %}"
        ><a href="/catalogue/login/">Log in</a></li>

        <li class="{% if 'register' in request.path %}active{% endif %}"
        ><a href="/catalogue/register/">Register</a></li>
        {% endif %}

      </ul>
  </nav>
</div>
{% block content %}{% endblock %}
</body>
</div>
</html>
