{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load staticfiles %}
{% block content %}

<style>
#table {
  column-gap: 400px;
  position:relative;
  overflow:auto;
}
</style>

<div class="col1">
      <!-- Column 1 start -->
      <h2>{{ cluster }}</h2>
      <br/>
      <div id="table"> {% render_table observations %}</div>
      <!-- Column 1 end -->
</div>
<br/>

<div id="footer">
  <p> From left to right: (All distances in kpc and velocities in km/s)
<br/>
<br/>
The reference from which the values in that row for this cluster have been obtained <br/>
Other commonly used cluster name; <br/>
Right ascension and declination in degrees; <br/>
Galactic longitude and latitude in degrees;  <br/>
Distance from Sun; <br/>
Distance from Galactic center, assuming R_0=8.0; <br/>
Galactic distance components X,Y,Z, in a Sun-centered coordinate system where X points toward Galactic center, Y in direction of Galactic rotation,Z toward North Galactic Pole.
<br/>
<br/>
Metallicity [Fe/H];   <br/>
Weight of mean metallicity, essentially the number of independent [Fe/H] measurements averaged together;  <br/>
Foreground reddening; <br/>
 V magnitude level of the horizontal branch (or RR Lyraes);  <br/>
Apparent visual distance modulus;  <br/>
Integrated V magnitude of the cluster;  <br/>
Absolute visual magnitude (cluster luminosity),  M_V,t = V_t - (m-M)V;  <br/>
The 4 Integrated color indices (uncorrected for reddening);  <br/>
Spectral type of the integrated cluster light;  <br/>
Projected ellipticity of isophotes, e = 1-(b/a)
<br/>
<br/>
Heliocentric radial velocity and its Observational (internal) uncertainty; <br/>
Central velocity dispersion sig_v and its Observational (internal) uncertainty; <br/>
Radial velocity relative to Solar neighborhood LSR; <br/>
King-model central concentration, c = log(r_t/r_c); a 'c' denotes a core-collapsed cluster; <br/>
Core radius in arcmin; <br/>
Half-light radius in arcmin; <br/>
Central surface brightness, V magnitudes per square arcsecond; <br/>
Central luminosity density, log_10(Solar luminosities per cubic parsec); <br/>
Core relaxation time t(r_c), in log_10(years); <br/>
Median relaxation time t(r_h), in log_10(years)
</p>
</div>

{% endblock %}
