{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="{% static 'login.css' %}" />
</head>

<body>
  <div id="header">
    <h1>Surrey Globular Cluster Archive </h1>
    <h2>A web-based archive for the best objects in the Universe</h2>
    <ul>
      <li><a href="."><span>Home</span></a></li>
      <li><a href="view1"><span>Specific set of paramters 1</span></a></li>
      <li><a href="view2"><span>Specific set of paramters 2</span></a></li>
      <li><a href="view3"><span>Specific set of paramters 3</span></a></li>
      <li><a href="references/"><span>References</span></a></li>
      {% if user.is_authenticated %}
      <li><a href="submit/"><span>Submit observation</span></a></li>
      <li><a href="logout/"><span>Log out</span></a></li>
      {% else %}
      <li><a href="login/"><span>Log in</span></a></li>
      <li><a href="register/"><span>Register</span></a></li>
      {% endif %}
    </ul>
</body>
  </div>
{% block content %}
  <p>Login here:</p>
<div id="input">
  <form id=login_form method="post" action="../login/">
    {% csrf_token %}
    <li><input type="text" name="username" placeholder="Username"></li>
    <li><input type="password" name="password" placeholder="Password"></li>

    <input type="submit" value="submit" />
  </form>
</div>

{% endblock %}
</html>
