{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

<head>
    <link type="text/css" rel="stylesheet" href="{% static 'login.css' %}" />
</head>

{% block content %}

<!-- ASK MAX ABOUT THIS: link to css file not working -->

<style>
#input {
  padding-top: 20px;
  padding-bottom: 150px;
  text-align: center;
}
</style>

<div id="input">
  <p>User login here:</p>

  <form id=login_form method="post" action="../login/">
    {% csrf_token %}
    <ul><input type="text" name="username" placeholder="Username"></ul>
    <ul><input type="password" name="password" placeholder="Password"></ul>

    <input type="submit" value="Submit" /><p>
    <p> </p>
    <a href="../admin/">Admin</a>
  </form>
</div>

{% endblock %}
