{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}



{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}

<head>
    <link type="text/css" rel="stylesheet" href="{% static 'register.css' %}" />
</head>

<body>
  <p>Please enter a username, your email address and create a password.</p>
  <p>Your username should only contain alphanumeric characters.</p>
  <form method="post" action="." enctype="multipart/form-data" >
    {% csrf_token %}

    {{ form.as_p }}
    <input type="submit" value="register" />
  </form>
</body>
{% endblock %}
