{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}



<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'submit.css' %}">-->
</head>

<div class="container-fluid">
  <h4>Submit an observation:</h4>
</div>

<!--<div class = "container-fluid">
<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Submit observation</h3>
      </div>
      <div class="panel-body">
        {% crispy form %}
      </div>
    </div>
</div>-->


<div class="container-fluid">
    <div class = "container">
      <div class = "row">
          {% csrf_token %}
          {% crispy form %}
      </div>
    </div>
</div>



{% endblock %}
