{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load staticfiles %}
{% block content %}

<div class="col1">
  <!-- Column 1 start -->
  <h2>Metallicity and Photometry (Harris 1996 (2010 edition))</h2>
  <br/>
   <div id="table">{% render_table metallicity %}</div>
  <!-- Column 1 end -->
</div>
<br/>

<div id="footer">
  <p> From left to right: 
 <br/>
 <br/>
Cluster identification name;  <br/>
Metallicity [Fe/H];   <br/>
Weight of mean metallicity, essentially the number of independent [Fe/H] measurements averaged together;  <br/>
Foreground reddening; <br/>
 V magnitude level of the horizontal branch (or RR Lyraes);  <br/>
Apparent visual distance modulus;  <br/>
Integrated V magnitude of the cluster;  <br/>
Absolute visual magnitude (cluster luminosity),  M_V,t = V_t - (m-M)V;  <br/>
The 4 Integrated color indices (uncorrected for reddening);  <br/>
Spectral type of the integrated cluster light;  <br/>
Projected ellipticity of isophotes, e = 1-(b/a) </p>
</div>

{% endblock %}
